<ul class="all">
  <li class="logo bg-white">
    <img
      class="img1"
      src="../../../assets/596d7b0478995e46f7f657f35f4f5735.png"
      alt=""
    />
    <img
      class="img2"
      src="../../../assets/4b541ec35f676791662c85e820e620f4.png"
      alt=""
    />

    <ul class="sidebar1 mt-3 pt-3">
      <li>
        <a href=""  class="activ">
          <i class="fa fa-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="" >
          <i class="fa fa-database"></i>
          <span>Database</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-product-hunt"></i>
          <span>Your Product</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-shopping-cart"></i>
          <span>Selling Mode</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-truck"></i>
          <span>Orders</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-building"></i>
          <span>Accounts</span>
        </a>
      </li>
      <li>
        <a href="" class="text-white">
          <i class="fa fa-info"></i>
          <span>Support Center</span>
        </a>
      </li>
    </ul>

    <ul class="sidebar2 mt-3 pl-0 pt-3">
      <li>
        <a href="" class="activ">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-database"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-product-hunt"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-shopping-cart"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-truck"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-building"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-info"></i>
        </a>
      </li>
    </ul>
  </li>
</ul>
